<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odin message board</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Mini Message Board</h1>
    </header>
    <main>
        <form class="message_form" action="" method="POST">
            <input type="text" name="title" id="mform_title" placeholder="Title">
            <textarea name="message" id="mform_message" placeholder="Message"  cols="30" rows="10"></textarea>
            <input type="text" name="user" id="mform_user" placeholder="Username">
            <button type="submit" id="mform_submit">Post</button>
        </form>
    </main>
</body>
</html>