extends layout

block content
  main  
    a.newMessage(href="/new") Speaketh thy mind
    .messages_container
      each msg in messages
        .message
          h1.message_title=msg.title 
          p.message_text=msg.text 
          .message_footer 
            p.message_user=msg.user 
            p.message_date=msg.date

