doctype html
html
  head
    title= Odin Message Board
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Mini Message Board
    block content
